body {
    background-color: #ffe4c4;
}

header {
    /* border-style: solid; */
    text-align: center;
    background-color: burlywood;
    padding-bottom: 0.5%;
    width: 30%;
    margin-left: 33%;
    margin-right: 35%;
    margin-bottom: 2%;
}

h1 {
    /* border-style: solid; */
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: 0%;
}

a {
    /* border-style: solid; */
    font-size: larger;
    font-style: italic;
}

section {
    /* border-style: solid; */
    width: 30%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: block;
    float: left;
}

.favourite-food-section {
    width: 24%;
    margin-left: 1%;
}

.achievement-section {
    width: 40%;
}

h2 {

    background-color: rgba(182, 139, 0, 0.5);
    text-decoration: underline;
    display: inline;
}

footer {
    /* border-style: solid; */
    margin-left: -2%;
    clear: both;
}

img {
    width: auto;
    height: auto;
    background-color: gray;
    display: inline;
}

ul,
details {
    font-style: italic;
    font-size: larger;
}

p {
    font-size: large;
}